<div class="col">
  <mat-card class="my-card">
    <h1>ADMINISTRACION DEL SISTEMA</h1>
  </mat-card>
  <div class="menu fixed azul-claro">
    <ul class="menu-items">
      <li><a (click)="this.volverMenuPrincipal()">Volver al menu</a></li>
    </ul>
  </div>
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="rd1" name="rd">
      <label class="tab-label" for="rd1">CREAR USUARIOS</label>
      <div class="tab-content">
        Aca va el formulario de crear usuarios
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd2" name="rd">
      <label class="tab-label" for="rd2">CREAR SURCURSALES</label>
      <div class="tab-content">
        Aca va el formulario de crear surcursales
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd3" name="rd">
      <label class="tab-label" for="rd3">ADMINISTRACION DE PERMISOS</label>
      <div class="tab-content">
        Aca va el formulario de administración de permisos
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd4" name="rd">
      <label class="tab-label" for="rd4">ADMINISTRACION DE ROLES</label>
      <div class="tab-content">
        Aca va el formulario de administración de roles
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd5" name="rd">
      <label for="rd5" class="tab-close">Cerrar &times;</label>
    </div>
  </div>
</div>
