<div class="col">
  <mat-card class="my-card">
    <h1>GESTION DE PRODUCTOS</h1>
  </mat-card>
  <div class="menu fixed azul-claro">
    <ul class="menu-items">
      <li><a (click)="this.regresarMenuPrincipal()">Volver al menu</a></li>
    </ul>
  </div>
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="rd1" name="rd">
      <label class="tab-label" for="rd1">CREAR PRODUCTO</label>
      <div class="tab-content">
        Aca va el formulario de crear producto
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd2" name="rd">
      <label class="tab-label" for="rd2">ACTUALIZAR EL PRODUCTO</label>
      <div class="tab-content">
        Aca va el formulario de actualizar el producto
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd3" name="rd">
      <label class="tab-label" for="rd3">ACTUALIZAR EL PRODUCTO POR DISTINTOS PARAMETROS</label>
      <div class="tab-content">
        Aca va el formulario de actualizar el producto por distintos parametros
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd4" name="rd">
      <label for="rd4" class="tab-close">Cerrar &times;</label>
    </div>
  </div>
</div>
