<div class="col">
  <mat-card class="my-card">
    <h1>GESTION DE CLIENTES</h1>
  </mat-card>
  <div class="menu fixed azul-claro">
    <ul class="menu-items">
      <li><a (click)="this.volverMenuPrincipal()">Volver al menu</a></li>
    </ul>
  </div>
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="rd1" name="rd">
      <label class="tab-label" for="rd1">REGISTRO DE CLIENTES</label>
      <div class="tab-content">
        Aca va el formulario de registro de clientes
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd2" name="rd">
      <label class="tab-label" for="rd2">CONSULTA DE CLIENTES</label>
      <div class="tab-content">
        Aca va el formulario de consulta de clientes
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd3" name="rd">
      <label class="tab-label" for="rd3">ACTUALIZACION DE CLIENTES</label>
      <div class="tab-content">
        Aca va el formulario de actualizacion de clientes
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="rd4" name="rd">
      <label for="rd4" class="tab-close">Cerrar &times;</label>
    </div>
  </div>
</div>
