<div class="wrapper">
	<div class="container">
		<h1>Bienvenido</h1>

		<form class="form">
			<input name="usr" #usr="ngModel" matInput [(ngModel)]="usuario.user" placeholder="Ingrese su usuario" id="usr">
			<input type="password" name="pwd" #pwd="ngModel" matInput [(ngModel)]="usuario.pass" placeholder="Ingrese su password" id="pwd">
			<button (click)="this.validarLogin()">Ingresar</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
