@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}

h1 {
  font-size: 2.2em;
}

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.zoom-button-login {
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 40px;
  margin: 0 auto;
}

.zoom-button-login:hover {
  transform: scale(1.25); /* (125% zoom) */
}

.my-card {
  margin-top: 20px;
  align-items: center;
  height: 70px;
  width: 40%;
  margin-bottom: 40px;
}

.efecto {
  color: #000 !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  border: 2px solid;
  border-color: #cc5838;
  transition: all 1s ease;
  position: relative;
  font-family: roboto;
}
.efecto:hover {
  background: #00ff59;
  color: #fff !important;
}




* {
  margin: 0;
  padding: 0;
}
.azul-claro {
  background: #63cbe8;
}
.menu {
  position: fixed;
  left: -200px;
  width: 200px;
  top: 10px;
  z-index: 10;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.menu:before {
  content: "Menu";
  position: absolute;
  right: -60px;
  top: 35%;
  width: 100px;
  padding: 10px;
  height: 40px;
  background-color: #63cbe8;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  display: block;
  cursor: pointer;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu:hover {
  left: 0;
}
.menu-items {
  width: 100%;
  height: 100%;
}
.menu-items li a {
  display: block;
  text-decoration: none;
  text-align: justify;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.menu li a:hover {
  border-left: 10px solid;
}
.menu-items li a:before {
  position: absolute;
  width: 70%;
  height: 1px;
  content: "";
  bottom: 0;
  left: 0;
  box-shadow: 0px -1px 1px #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-items li a:hover:before {
  width: 90%;
}
